.wrapper{
  max-width: 500px;
  margin: 0 auto;
  background-color: black;
  border:1px solid black
}

.screen{
  display: flex;
  flex-flow:  column nowrap;
  background-color: black;
  min-height: 80px;
  padding: 10px;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  cursor: pointer;
}

.screen .previous{
  font-size: 1.5rem;
  color: rgba(255, 255, 255,0.75);
  word-wrap: break-word;
  word-break: break-all;
  cursor: pointer;
}

.screen .current {
  font-size: 2.5rem;
  color:#fff;
  word-wrap:break-word;
  word-break: break-all;
  cursor: pointer;
}
.calc_bth_row {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 0.8%;
  cursor: pointer;
}

.calc_btn{
  background-color: aliceblue;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  border: none;
  height: 100px;
  flex-basis: 24.5%;
  cursor: pointer;
}

.double{
  flex-basis: 50%;
}

.amount{
  display: flex;
  align-items: center;
  justify-content: center;
  left: 45.5%;
  top: 64.5%;
  position: absolute;
}

.from{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.to {
  color: white;
  left: 60.5%;
  top: 63.9%;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
}
